
.darkMode {
    background-color: var(--color-black-body);
    color: var(--color-secundary);
}

.darkMode nav{
    background-color: var(--color-black);
}

.darkMode #publications-container .content{
    color: var(--color-black);
}

.darkMode .mainContent .card input{
    background-color: var(--color-black-card);

}

.darkMode .modal-content {
    color: var(--color-black);
}