.mainContent h1{
    font-size: 55px;
    color: var(--color-secundary);
    margin-left: 120px;
}

.mainContent .card{
    width: 45%;
    background-color: var(--color-secundary);
    border-radius: 20px;
    margin-left: 120px;
    padding: 40px 50px;
    position: relative;
    margin-bottom: 130px;
}

.mainContent .card p{
    color: var(--color-primary);
    font-weight: 800;
    font-size: 20px;
}

.mainContent .card input{
    border: none;
    border-bottom: 3px solid var(--color-primary);
    outline: none;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 7px;
    font-family: "PT Sans", sans-serif;
    display: block;
    width: 100%;
}

.mainContent .card button{
    margin-top: 20px;
}

.mainContent .card img{
    margin-top: 0px;
    width: 150px;
    position: absolute;
    top: 72%;
    right: 0;
}

@media (max-width: 800px){
    .mainContent h1{
        text-align: center;
        margin: 0 auto;
        margin-top: 13%;
        margin-bottom: 30px;
        font-size: 45px;
    }
    .mainContent .card{
        margin: 0 auto;
        width: 65%;
    }
    .mainContent .card input{
        width: 100%;
    }
    .mainContent .card img{
        width: 120px;

    }
}
