@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root{
    --color-primary: #04346F;
    --color-primary-dark: #021D3D;
    --color-secondary: #ffffff;
    --color-green: #5ACCA4;
    --color-orange: #FE654F;
    --color-yellow: #E6CA52;
    --color-purple: #EAA2FC;
    --color-gray-transparent: rgba(76, 76, 76, 0.6);
    --font-principal: "PT Sans", sans-serif;
}
body{
    font-family: var(--font-principal);
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
}
nav {
    width: 20%;
    background-color: var(--color-primary-dark);
    color: var(--color-secondary);
    padding-top: 20px;
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;
}
nav .socialNetworkLogo{
    width: 100px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-bottom: 30px;
    font-size: 20px;
}
nav ul li:hover {
    cursor: pointer;
}
nav ul li a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 800;
}
nav ul li a i{
    padding: 12px;
    font-size: 30px;
}
.mainContent {
    margin-left: 22%;
    padding: 20px;
}
.linesRiwi{
    width: 170px;
    position: absolute;
    right: 0;
    bottom: 50px;
}
.navMobile{
    display: none;
}

@media (max-width: 850px){
    .navMobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-primary-dark);
        color: var(--color-secondary);
        width: 100%;
        height: 12%;
        margin: 0;
        padding: 0;
    }
    .navMobile ul{
        display: flex;
        flex-direction: row;
    }
    nav ul li {
        margin: 0;
    }
    nav ul li a i{
        font-size: 25px;
    }
    .navDesktop{
        display: none;
    }
    .mainContent {
        margin-left: 0%;
        padding: 20px;
        margin-top: 15%;
    }
    .socialNetworkLogo{
        transform: scaleX(-1);

    }
}
