@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root{
    --color-primary: #04346F;
    --color-primary-dark: #021D3D;
    --color-secundary: #ffffff;
    --color-green: #5ACCA4;
    --color-orange: #FE654F;
    --color-yellow: #E6CA52;
    --color-purple: #EAA2FC;
    --color-black: #000000;
    --color-black-body: #0f0f0f;
    --color-black-card : rgb(203, 203, 203);
    --color-gray-transparent: rgba(76, 76, 76, 0.6);
    --font-principal: "PT Sans", sans-serif;
}

body{
    font-family: var(--font-principal);
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
}

.containerPublication{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundary);
    border-radius: 40px;
    color: var(--color-primary);
}

.containerPublication .publicationLeft{
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
}

.containerPublication .publicationLeft i{
    padding: 0px 10px;
    font-size: 30px;
}

.containerPublication .publicationRight{
    margin-right: 30px;
}

.containerPublication .publicationRight a{
    color: var(--color-primary);
    font-size: 25px;
}

.reactionButton{
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 42%;
    padding: 0;
}

.counterReactions{
    font-weight: 700;
    font-size: 17px;
    margin: 0;
    padding: 0;
}