@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root{
    --color-primary: #04346F;
    --color-primary-dark: #001c40;
    --color-secundary: #ffffff;
    --color-green: #5ACCA4;
    --color-orange: #FE654F;
    --color-yellow: #E6CA52;
    --color-purple: #EAA2FC;
    --color-gray-transparent: rgba(76, 76, 76, 0.6);
    --font-principal: "PT Sans", sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: var(--color-primary);
    font-family: var(--font-principal);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#bannerMobile{
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
    margin: 0;
}

h1.title { 
    background-color: rgb(0, 0, 0, 0.3);
    width: 80%;
    font-weight: 500;
    font-size: 40px;
    font-family: "Jersey 15", sans-serif;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

span {
    font-size: 14px;
    margin-top: 25px;
}



.content {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.content input {
   accent-color: #333;
   width: 12px;
   height: 12px;
}

.content label {
    font-size: 14px;
    user-select: none;
    padding-left: 5px;
}

button {
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--color-secundary);
    background-color: var(--color-primary);
    color: var(--color-secundary);
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    padding: 12px 80px;
    transition: 0.3s ease-in-out;
}

button:hover {
    letter-spacing: 2px;
    cursor: pointer;
}

button:active {
    transform: scale(1);
}

button:focus { 
    outline: none;
}

button.ghost {
    background-color: var(--color-primary);
    border: 2px solid var(--color-secundary);
    color: var(--color-secundary);
}

form { 
    background-color: var(--color-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-family: var(--font-principal);
    font-size: 18px;
}

.container {
    background-color:var(--color-secundary);
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 60%;
    height: 60%;
    max-width: 100%;
    min-height: 450px;
}

.form-container { 
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login-container { 
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .login-container {
    transform: translateX(100%);
}

.register-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .register-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translate(-100%);
}

.overlay {
    background-image: url('../IMG/wolf.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: var(--color-secundary);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        to top,
        rgba(4, 52, 111) 10%,
        rgba(9, 98, 200, 0.126) 30%
    );
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: trasnform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

@media (max-width: 900px){
    body{
        height: auto;
    }
    .container{
        width: 95%;
        height: 20%;
    }
    #bannerMobile{
        display: block;
        width: 100px;
        margin-bottom: 20px;
    }
    form{
        padding: 5px;
    }
    input{
        border: none;
        padding: 12px 10px;
        margin: 8px 0;
        width: 100%;
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
    button{
        padding: 10px 40px;
    }
    h1.title{
        display: none;
    }

}