@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root{
    --color-primary: #04346F;
    --color-primary-dark: #021D3D;
    --color-secundary: #ffffff;
    --color-green: #5ACCA4;
    --color-orange: #FE654F;
    --color-yellow: #E6CA52;
    --color-purple: #EAA2FC;
    --color-gray-transparent: rgba(76, 76, 76, 0.6);
    --font-principal: "PT Sans", sans-serif;
}

body{
    font-family: var(--font-principal);
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
}
.mainContent h1{
    font-size: 30px;
    color: var(--color-primary);
    margin-bottom: 0;
}

.mainContent .card {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    background-color: var(--color-secundary);
    border-radius: 20px;
    padding: 30px;
}

.user img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.user{
    align-items: flex-start;
}

.user h1.name{
    font-weight: 800;
    font-size: 40px;
    margin-left: 20px;
    margin: 0;
}

.user h1.email{
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}

